.App-layout {
  min-height: 100vh;
}

.App-header {
  color: white;
  font-weight: bold;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-footer {
  text-align: center;
}
